---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ArcFest'23 | 404">
  <div class="h-screen flex flex-col justify-between items-center">
    <h1 class="text-9xl">404</h1>
    <a class="underline" href="/2023"
      >oh snap :( the site you're looking for is here</a
    >
  </div>
</Layout>
